html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

html {
    font-family: 'RalewaySemiBold', sans-serif;
    width: 100%;
    background-color: #DDD;
}

@media (max-width: 640px) {
    html { font-size: 12px; font-size: 2.5vw; }
}

@media (min-width: 641px) {
    html { font-size: 16px; }
}

body {
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
    background-color: #FFF;   
}

.qa-header {
    flex-shrink:0;
    height: 4em;
    
    background-color: #DDD;
    /* background-image: url(../../tudocomp.svg); */
    background-repeat: no-repeat;
    background-size: auto 3em;
    background-position: 0.5em 0.5em;
}

.qa-header h1{
    margin: 0;
    padding-top: 2em;
    padding-right: 1em;

    font-size: 1em;
    font-weight: bold;
    text-align: right;
}

@media (max-width: 720px) {    
    .qa-main {
        margin: 0;
        padding: 1em;
    }
}

@media (min-width: 721px) and (max-width: 1280px), (min-width: 721px) and (max-height: 720px) {
    .qa-main {
        margin: 1em;
        padding: 1em;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) and (min-height: 721px) {
    .qa-main {
        margin: 2em;
        padding: 2em;
    }
}

@media (min-width: 1921px) and (min-height: 721px) {
    .qa-main {
        min-width: 1856px;
        max-width: 1856px;
        margin: 2em auto 2em auto;
        padding: 2em;
    }
}

.qa-main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #9B9;
    border-radius: 0.5em;
    background-color: #CFC;
}

.qa-main > * {
    flex-shrink: 0;
    margin-bottom: .5em
}

.qa-description {
    margin-left: .5em;
    margin-top: 1em;
    font-weight: bold;
}

.qa-textarea {
    box-sizing:border-box;
    padding:.5em;
    resize:none;
    border: 1px solid #9B9;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
}

.qa-shorttext {
    padding-left:.5em;
    width: 2em;
    font-family: 'Source Code Pro', monospace;
}


.qa-itemlist, .qa-stats {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:.25em;
    border: 1px solid #9B9;
    background-color: #FFF;
}

.qa-item {
    flex-shrink: 0;
    box-sizing: border-box;
    padding:.2em;
    margin:.25em;
    border: 1px solid #9B9;
    cursor: move;
    cursor: -webkit-grabbing;
}

.qa-itemlist-enabled {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.qa-itemlist-disabled {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
}

.qa-itemlist-enabled .qa-item {
    background-color: #CFC;
}

.qa-itemlist-disabled .qa-item {
    background-color: #FCC;
}

.qa-itemlist-enabled .qa-item-ghost {
    background-color: #EFE !important;
    border-color: #000 !important;
}

.qa-itemlist-disabled .qa-item-ghost {
    background-color: #FEE !important;
    border-color: #000 !important;
}

.qa-item-drag {
    border-color: #000 !important;
    background-color: #FFF !important;
}

.qa-itemlist-header {
    box-sizing: border-box;
    padding:.2em;
    margin:.25em;
}

.qa-options {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:.25em;
    border: 1px solid #9B9;
    background-color: #FFF;
}

.qa-option {
    flex-shrink: 0;
    box-sizing: border-box;
    padding:.2em;
    margin:.25em;
    margin-right: .75em;
}

/* Tooltip text */
.qa-tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 1em;
    border-radius: 6px;
    margin : 1em;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.qa-item:hover .qa-tooltiptext {
    visibility: visible;
}

.qa-visible, .qa-visible * {
    /* display: inherit; */
}
.qa-hidden {
    display: none !important;
}

#qa-tutorial-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sit on top of everything */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0,0,0,0.5); /* Semi-transparent black */ */
}

/* The actual pop-up box */
#qa-tutorial-box {
  background-color: #fff;
  margin: 15% auto; /* 15% from top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  position: relative;
}

/* Close button style */
#qa-tutorial-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

#qa-tutorial-open-button {
    display: none;
}
